<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Movie::movie" translate="title" title="MAGENEST MOVIE" module="Magenest_Movie" sortOrder="1" resource="Magenest_Movie::movie"/>
        <add id="Magenest_Movie::movie_title" translate="title" title="MOVIE" module="Magenest_Movie" sortOrder="10" parent="Magenest_Movie::movie" resource="Magenest_Movie::movie_title"/>
        <add
                id="Magenest_Movie::index"
                title="Movie"
                module="Magenest_Movie"
                sortOrder="11"
                parent="Magenest_Movie::movie_title"
                action="movie/movie/index/"
                resource="Magenest_Movie::index"
        />
        <add
                id="Magenest_Movie::actor"
                title="Actor"
                module="Magenest_Movie"
                sortOrder="12"
                parent="Magenest_Movie::movie_title"
                action="movie/actor/index/"
                resource="Magenest_Movie::actor"
        />
        <add
                id="Magenest_Movie::director"
                title="Director"
                module="Magenest_Movie"
                sortOrder="13"
                parent="Magenest_Movie::movie_title"
                action="movie/director/index/"
                resource="Magenest_Movie::director"
        />
        <add id="Magenest_Movie::report" title="REPORT" module="Magenest_Movie" sortOrder="20" parent="Magenest_Movie::movie" resource="Magenest_Movie::report"/>
        <add    id="Magenest_Movie::report_index"
                title="Report"
                module="Magenest_Movie"
                sortOrder="21"
                action="movie/report/index"
                parent="Magenest_Movie::report"
                resource="Magenest_Movie::report_index"
        />
    </menu>
</config>