<input data-bind="value: searchMovieName" id="text_search"  name="text_search" type="text"/>
<button data-bind="click: getMovie">Search Movie</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: movieList">
    <tr>
        <td data-bind="text: movie_id"></td>
        <td>
            <!-- ko text: name--><!--/ko-->
        </td>
        <td data-bind="text: description"></td>
        <td data-bind="text: rating"></td>
    </tr>
    </tbody>
</table>